extends ./layout.jade

mixin en(text)
	span.text-en(lang='en')= text

mixin ja(text)
	span.text-ja(lang='ja')= text

block head
	title Color of Anime
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,700,900')
	link(rel='stylesheet', href='css/style.css')
	script(src='js/vendor/color-convert-0.5.1.min.js')
	script(src='//code.createjs.com/preloadjs-0.4.1.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.1/tinycolor.min.js')

block body
	#loading
		svg#loading-background(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
			- var colors = ['#DF7871', '#E8B359', '#D8DB6F', '#A0D08E', '#8D9FBA', '#D48EBB'], i = 0;
			each color in colors
				rect(x=(i / 6 * 100) + '%', fill=color, width=(1 / 6 * 100) + '%', height='100%')
				- i++;
		h1#loading-header Color of Anime
		p#loading-text
			+en('Supernatural abilities are ongoing...')
			+ja('妖精さんが準備しています…')
	h1 Color of Anime
	#container
		#image-panel.panel
			#rendering
				= ' '
				+en('Rendering...')
				+ja('レンダリング中…')
			#image-field
			#image-info
				+en('Sharo Kirima(Is The Order a Rabbit?)')
				+ja('桐間紗路(ご注文はうさぎですか?)')
				= ' - '
				a(href='http://www.gochiusa.com/news/hp0001/index00040000.html', target='_blank') Color Source
		#color-panel.panel
			#color-field
				ul#color-tabs.tabs
					each colorset in ['RGB', 'HSV', 'Lab']
						li.tab(class=(colorset==='RGB')?'selected':'', data-colorset=colorset)
							.tab-inner= colorset
				#panel
					#color-sliders
						- var colorsets = {RGB: {r: 'R', g: 'G', b: 'B'}, HSV: {h: 'H', s: 'S', v: 'V'}, Lab: {l: 'L', a: 'a', b: 'b'}};
						each colorset in Object.keys(colorsets)
							.colorset-sliders(id='colorset-sliders-'+colorset, data-colorset=colorset)
								each parameter in Object.keys(colorsets[colorset])
									.color-parameter-wrap(id=colorset+'-'+parameter, data-colorset=colorset, data-parameter=parameter)
										label.color-parameter-label(id=colorset+'-'+parameter+'-label')= colorsets[colorset][parameter]
										.color-parameter(id=colorset+'-'+parameter+'-parameter', data-colorset=colorset, data-parameter=parameter)
											.color-slider-wrapper
												.color-slider-pinch
										.color-value 0
						.color-infos
							.color-preview
								.color-preview-square
								.color-preview-value #000000
							.submit-wrapper
								#color-name
								button.submit OK
					#result-field
						#score-field
							#score-text
								#score-label
									+en('Score')
									+ja('スコア')
								#score-numeral 0
							#score-bar
								#score-bar-inner
						#result-color
							#result-color-labels
								#your-color-label.result-color-label
									+en('Your Color')
									+ja('あなたの回答')
								#original-color-label.result-color-label
									+en('Original Color')
									+ja('正しい色')
							#result-color-previews
								#your-color-preview.result-color-preview
								#original-color-preview.result-color-preview
							#result-color-infos
								#your-color-info.result-color-info
									.result-color-value #000000
									.result-color-name black
								#original-color-info.result-color-info
									.result-color-value #ffffff
									.result-color-name white
						button.go-next OK
