extends ./layout.jade

block head
	title Color of Anime
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,700,900')
	script(src='js/vendor/color-convert-0.5.1.min.js')
	script(src='//code.createjs.com/preloadjs-0.4.1.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.1/tinycolor.min.js')

block body
	h1 Color of Anime
	#container
		#image-panel.panel
			#rendering  Rendering...
			#image-field
				#image.invisible
					canvas#canvas(width='400', height='400')
			#image-info
				| 香風智乃(ご注文はうさぎですか?) - 
				a(href='http://www.gochiusa.com/news/hp0001/index00040000.html', target='_blank') Color Source
		#color-panel.panel
			#color-field
				ul#color-tabs.tabs
					li.tab.selected
						.tab-inner RGB
					li.tab
						.tab-inner HSV
					li.tab
						.tab-inner Lab
				#panel
					#color-sliders
						- var colorsets = [['R', 'G', 'B'], ['H', 'S', 'V'], ['L', 'a', 'b']];
						each colorset in colorsets
							- var name = colorset.join('');
							.colorset-sliders(id='colorset-sliders-'+name, data-colorset=name)
								each parameter in colorset
									.color-parameter-wrap(id=name+'-'+parameter, data-parameter=parameter)
										label.color-parameter-label(id=name+'-'+parameter+'-label')= parameter
										.color-parameter(id=name+'-'+parameter+'-parameter', data-colorset=name, data-parameter=parameter)
											.color-slider-wrapper
												.color-slider-pinch
										.color-value 0
						.color-infos
							.color-preview
								.color-preview-square
								.color-preview-value #000000
							.submit-wrapper
								.something
								button.submit OK
